@use "@thegetty/getty-ui/src/styles/base" as *;

.m-searchbox {
  width: 100%;
  padding-bottom: $spacing-06;
}

.m-searchbox__inner {
  display: flex;
  width: 100%;
}

.m-searchbox__input {
  flex-grow: 1 0;
  @include f-subhead-3;
  border: 1px solid $color__text;
  border-radius: unset;
  padding-top: 4px;
  width: calc(100% - $spacing-11);
}

.m-searchbox__button {
  @include reset-btn;
  @include link-focus;
  align-self: flex-end;
  justify-content: center;
  width: $spacing-11;
  height: $spacing-11;

  background-color: $color__black;
  color: $color__white;

  svg {
    width: $spacing-04;
    height: $spacing-04;
  }
}

.m-searchbox__suggestions {
  @include f-subhead-3;
  position: absolute;
  z-index: 99;
  background-color: $color__white;
  border: 1px solid $color__text;
  border-top: unset;
  max-height: calc(32 * #{$spacing-03} + 1em);
  overflow: scroll;
}

.m-searchbox__suggestion {
  cursor: pointer;
  width: calc(1024px - 2px);
  padding: $spacing-02 $spacing-03;
  @include keyline("bottom");
  &:hover {
    background: $color__grey--20;
  }

  .m-searchbox__suggestion--artist {
    text-transform: capitalize;
    &:after {
      content: ",";
      padding-right: 0.25em;
    }
  }

  .m-searchbox__suggestion--title {
    font-style: italic;
  }
}
