@use "@thegetty/getty-ui/src/styles/base" as *;

.m-searchbox {
}

.m-searchbox__input {
  @include f-subhead-3;
  height: 2em;
  width: 50%;
  min-width: 30em;
  border: 1px solid $color__text;
  border-radius: unset;
  padding-top: 4px;
}

.m-searchbox__button {
  width: 2rem;
  border-bottom: 3.5px solid $color__text;
}

.m-searchbox__suggestions {
  @include f-subhead-3;
  position: absolute;
  z-index: 99;
  background-color: $color__white;
}

.m-searchbox__suggestion {
  cursor: pointer;
  padding-top: $spacing-01;
  padding-bottom: $spacing-01;
  @include keyline("bottom");
  &:hover {
    background: $color__grey--20;
  }

  .m-searchbox__suggestion--artist {
    text-transform: capitalize;
    &:after {
      content: ",";
      padding-right: 0.25em;
    }
  }

  .m-searchbox__suggestion--title {
    font-style: italic;
  }
}
