@use "@thegetty/getty-ui/src/styles/base" as *;

.p-home {
  padding-top: $spacing-06;
}
.p-home__body-content {
  margin-top: $spacing-06;
  margin-bottom: $spacing-06;
}
.p-hammer {
  width: 30%;
  align-self: center;
}
.p-home__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $spacing-06;
  padding-bottom: $spacing-06;

  p {
    align-self: center;
    font-size: 400%;
    font-weight: 900;
    padding-top: $spacing-06;
  }
}

.p-home__description {
  @include f-subhead-3;
  display: flex;
  justify-content: center;
  padding-bottom: $spacing-06;

  .a-rich-text: {
    width: 60%;
  }
}

.p-home__header,
.p-home__description,
.m-searchbox {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
